@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Roboto:wght@300;400;500;700;900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@400;500&family=Poppins:wght@400;500;600;700;800&family=Roboto:wght@300;400;500;700;900&display=swap");

body {
  font-family: "Poppins", sans-serif;
}

.text-secondary {
  font-family: "Inconsolata", monospace;
}
.btn-cus {
  background: rgb(80, 89, 171);
  background: linear-gradient(90deg, #5059ab 0%, #376ee9 69%);
}

.border-gray-700 {
  --tw-border-opacity: 1;
  border-color: darkblue
}
.border-t-2 {
  border-top-width: 2px;
}
